/* Layout / Structure */

.hidden {
  display: none;
}

body, #detector {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

h1, #note {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 2 auto;
    -ms-flex: 1 2 auto;
    flex: 1 2 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

#detector {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 4 1 auto;
    -ms-flex: 4 1 auto;
    flex: 4 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

width: 90%;
    }

#output, #pitch, #detune {
  display: none;
}

#output {
  position: absolute;
}

#note {
  font-size: 20em;
  margin: auto 20%;
}

h1 {
  font-size: 16pt;
}

/* Style */

body {
  background-color: #2691BF;
  font-family: 'Anton', sans-serif;
}

h1 {
  background-color: #2691BF;
  color: #195975;
}

#detector {
  background-color: #3ABEF7; 
  /* color: #F7733A; */

-webkit-box-shadow: inset 2px 2px 30px 0px rgba(38, 145, 191, 1.0);
-moz-box-shadow:    inset 2px 2px 30px 0px rgba(38, 145, 191, 1.0);
box-shadow:         inset 0px 1px 1px 0px rgba(38, 38, 38, 1.0),
inset 2px 2px 30px 0px rgba(38, 145, 191, 1.0),
inset 3px 0px 10px 0px rgba(38, 145, 191, 1.0),
inset 0px 5px 20px 0px rgba(38, 145, 191, 0.8);
border-radius: 5px;

}

.vague {
  color: #CCC;
}

.confident {
  color: #F7F08B; /*  #F7733A; orange */
  background-color: red;
}

#detune.sharp {
  background-color: red;
}

#detune.flat {
  background-color: green;
}